body {
    text-align: center;
    margin: 0px;
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(123, 86, 255) );
    background-size: 200% 200%;
    animation: bgShift 10s ease-in-out infinite;
}

body::selection {
    background-color: white;
    color: black;
}

@keyframes bgShift {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 0%;
    }
    100% {
        background-position: 0% 0%;
    }
}

nav {
    display: flex;
    justify-content: space-evenly;
    background: linear-gradient(to right,#c6b3f4, #ffffff );
    background-size: 200% 200% ;
    height: 70px;
    width: 100%;
    align-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    color: rgb(65, 65, 65);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.414);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    animation: bgShift 10s ease-in-out infinite;
    position: sticky;
    top: 0px;
}

nav div {
  
    position: absolute;
    left: 44%;
    top: 5px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.318);
}

#reload-btn {
    background-color: rgba(255, 255, 255, 0);
    padding: 10px;
    position: absolute;
    left: 90%;
    top: 12px;
    border: 0px;
    border-radius: 50px;
    font-size: large;
    font-weight: bold;
    color: rgb(77, 77, 77);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.644);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

#icon {
    font-size: small;
    font-weight: bolder;
}

#reload-btn:hover {
    cursor: pointer;
}

#h2 {
    margin: auto;
    margin-top: 40px;
    align-items: center;
    width: fit-content;
    padding: 10px 50px;
    border-radius: 10px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.622);
    background:linear-gradient(to right, rgb(222, 215, 255) , rgb(147, 206, 248)) ;
}

h3 {
    background: linear-gradient(to left, rgb(222, 215, 255) , rgb(147, 206, 248));
    width: fit-content;
    padding: 20px 40px;
    margin: auto;
    border-radius: 10px;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.622);
}

.btn {
    height: 200px;
    width: 200px;
    border-radius: 50px;
    border: 10px solid rgb(0, 0, 0);
    margin: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.718);
    align-content: center;
    font-size:large;

}

.btn:hover {
    cursor: pointer;
}

.red {
    background-color: rgb(211, 87, 87);
}

.green {
    background-color: rgb(134, 206, 134);
}

.blue {
    background-color: rgb(79, 79, 255);
}

.yellow {
    background-color: rgb(220, 220, 140);
}

ul #instructions {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 600;
    list-style-type: none;
    padding: 3px 0;
    margin: 40px 0px;
    color: rgb(65, 65, 65);
    background-color: #c6b3f4;
    width: 100%;
    margin-left: -20px;
    border-radius: 50px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.341);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.378);
}

#gamepad {
    color: rgb(0, 0, 0);
}

.fa-solid {
    color: black;
}

ul li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: 500;
    list-style-type: none;
    margin: 15px 0;
    color: rgb(63, 63, 63);
}

.btn-container {
    display: flex;
    justify-content: center;
    
}

.flash {
    background-color: white;
}

.userFlash {
    background-color: rgb(33, 255, 8);
}

@media (max-width: 1440px) {
    nav {
        font-size: 2rem;
        height: 60px;
        justify-content: center;
        position: relative;
        width: 100%;
    }

    nav div {
        position: absolute;
        left: 1%;
        transform: none;
        text-align: center;
        width: 100%;
    }

    #reload-btn {
        left: 85%;
        top: 10px;
        font-size: medium;
        padding: 8px;
    }

    .btn {
        height: 190px;
        width: 190px;
    }

    #h2, h3 {
        font-size: 1.3rem;
        padding: 15px 30px;
    }

     ul #instructions {
        font-size: 25px;
    }

    ul .ins {
        font-size: 16px;
        position: relative;
        right: 22px;
    }
}

@media (max-width: 1024px) {
    nav {
        font-size: 2rem;
        height: 60px;
        justify-content: center;
        position: relative;
        width: 100%;
    }

    nav div {
        left: 38.5%;
        top: 10px;

        position: absolute;
        left: 1%;
        transform: none;
        text-align: center;
        width: 100%;
    }

    #reload-btn {
        left: 85%;
        top: 10px;
        font-size: medium;
        padding: 8px;
    }

    .btn {
        height: 190px;
        width: 190px;
    }

    #h2, h3 {
        font-size: 1.3rem;
        padding: 15px 30px;
    }

    ul #instructions {
        font-size: 25px;
    }

    ul .ins {
        font-size: 16px;
        position: relative;
        right: 22px;
    }
}



@media (max-width: 768px) {
    nav {
        font-size: 1.5rem;
        height: 60px;
        justify-content: center;
        position: relative;
        width: 100%;
    }

    nav div {
        position: absolute;
        left: 1%;
        transform: none;
        text-align: center;
        width: 100%;
    }

    #reload-btn {
        position: absolute;
        
        top: 15px;
        font-size: small;
        padding: 6px 10px;
        left: 80%;
    }

    .btn-container {
        flex-direction: column;
        align-items: center;
    }

    .line-1, .line-2 {
        display: flex;
        justify-content: center;
    }

    .btn {
        height: 170px;
        width: 170px;
        margin: 8px;
    }

    #h2, h3 {
        font-size: 1.1rem;
        padding: 10px 20px;
        width: fit-content;
    }

    ul #instructions {
        font-size: 22px;
    }

    ul .ins {
        font-size: 16px;
        position: relative;
        right: 22px;
    }
}

@media (max-width: 480px) {
    nav {
        font-size: 1.2rem;
        height: 55px;
    }

    nav div {
        position: absolute;
        left: 1%;
    }

    #reload-btn {
        font-size: 0.8rem;
        padding: 4px 8px;
        top: 13px;
        left: 80%;
    }

    .btn {
        height: 150px;
        width: 150px;
        margin: 6px;
    }

    #h2, h3 {
        font-size: 1rem;
        padding: 10px;
    }

    ul #instructions {
        font-size: 18PX;
    }

    ul .ins {
        font-size: 13px;
        position: relative;
        right: 22px;
    }

}


@media (max-width: 380px) {
    nav {
        font-size: 0.8 rem;
        height: 55px;
    }

    nav div {
        position: absolute;
        left: 1%;
    }

    #reload-btn {
        font-size: 0.5rem;
        padding: 4px 8px;
        top: 15px;
        left: 80%;
    }

    .btn {
        height: 130px;
        width: 130px;
        margin: 6px;
    }

    #h2, h3 {
        font-size: 1rem;
        padding: 10px;
    }


    ul #instructions {
        font-size: 15PX;
    }

    ul .ins {
        font-size: small;
        position: relative;
        right: 22px;
    }
}
